<h1>Game List</h1>
<form>
    <div class="pull-right form-group">
        <input type="text" class="form-control" ng-model="vm.filterData">
    </div>
</form>
<table class="table table-striped">
    <tbody>
        <tr ng-repeat="game in vm.gameList | filter: { publisher: vm.filterData }">
            <td>{{game.title}}</td>
            <td>{{game.na_releaseDate}}</td>
            <td>{{game.eu_releaseDate}}</td>
            <td>{{game.publisher}}</td>
            <td>
                <a ui-sref="GameDetail({ id: $index })">
                    View Details
                </a>
            </td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>Title</th>
            <th>North American Release</th>
            <th>European Release</th>
            <th>Publisher</th>
            <th></th>
        </tr>
    </thead>
</table>